




body {
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: "Exo", sans-serif;
	color: #fafafa;
	/* background: linear-gradient(-45deg, #7d8a96, #eef2f3);
	background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    overflow-x: hidden; */
    
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}

}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    z-index: 10000px;
   
    
    
}

.logo {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    z-index: 10000px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 20%;
    z-index: 10000px;

}

.nav-links li {
    list-style: none;
    z-index: 10000px;
}

.nav-links a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    z-index: 10000px;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    transition: all 0.3s ease;
    z-index: 10000px;
    
}

.burger{
    display: none;
    z-index: 10000px;
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
        
    }

    .nav-links a{
      color: white;
    }

   
    
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:rgba(139, 56, 56, 0.986);
       
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        
    }
    
    .nav-links li{
        opacity: 0;
    }
    
    .burger{
        display: block;
        cursor: pointer;

        
    }

    .box2{
            width: 100%;
            align-items:center;
        }

  


}


/* boxes on index */

.containerprojects{
  /* background-color: #ef1f1f; */
  width: 70%;
  height: auto;
  margin:auto;
  justify-content: center;
  padding: 2rem;
  
  
  
}

.containerprojects a img:hover{

 padding: 2rem;
 border-top: 0;
 border-right: 0;
 border-left: 0;
 border-bottom: 0.5rem;
  border: solid rgb(231, 58, 58);
  border-radius: 1%;
}



/* .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  margin: 40px auto 0;
  width: calc(280px * 3);
}

.card {
  box-shadow: 0 3px 10px 0 #aaa;
  cursor: pointer;
  height: 280px;
  position: relative;
  width: 243px;
}

.card h2 {
  font-size: 20px;
  font-weight: bold;
}

.card.visited {
  box-shadow: 0 3px 10px 2px #444;
}

@media (max-width: 1100px) {
  .cards {
    grid-template-columns: 1fr 1fr;
    width: calc(280px * 2);
  }
  .card {
    margin: 0 auto 2rem;
  }
}

@media (max-width: 768px) {
  .cards {
    display: block;
    width: 100vw;
  }
  .card {
    margin: 0 auto 2rem;
  }
} */





/*end





a{
    text-decoration: none;
}

.container3:hover {
    /* background-color: rgba(56, 99, 139, 0.986); */
    
  }

  a:hover {
    text-decoration: line-through red;
  }

.nav-active{
    transform: translateX(0%);
   
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.box{
    /* background-color: bisque; */
    width:  1500px;
    height: 100%;
    display: flex;
    margin: auto;
    
}





.quote{
    width: 1500px;
    height: 200px;
    display:flex;
    margin: auto;
    
    
}




footer{
position:inherit;
bottom: 0;
}

@media (max-height:200px){
footer { position:absolute; }
header { padding-top:40px; }
}


.footer-distributed{
background-color:#4E4945;
box-sizing: border-box;
width: 100%;
text-align: left;
font: bold 16px sans-serif;
padding: 50px 50px 60px 50px;
margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: inline-block;
vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
width: 30%;
}






/* Footer links */

.footer-distributed .footer-links{
color:  #e1e1e1;
margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
display:inline-block;
line-height: 1.8;
text-decoration: none;
color:  inherit;
padding: 6px;
cursor: pointer;
}

.footer-distributed .footer-company-name{
color:  #343434;
font-size: 14px;
font-weight: normal;
margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
width: 35%;
}


.footer-distributed .footer-center i{
background-color:  #e1e1e1;
color: #ffffff;
font-size: 25px;
width: 38px;
height: 38px;
border-radius: 50%;
text-align: center;
line-height: 42px;
margin: 10px 15px;
vertical-align: middle;

}

.footer-distributed .footer-center i.fa-envelope{
font-size: 17px;
line-height: 38px;

} 

/* Footer Right */

.footer-distributed .footer-icons{
margin-top: 25px;
}

.footer-distributed .footer-icons a{
display: inline-block;
width: 35px;
height: 35px;
cursor: pointer;
background-color:  #red;
border-radius: 2px;

font-size: 20px;
color: #ffffff;
text-align: center;
line-height: 35px;

margin-right: 3px;
margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
display: block;
width: 100%;
margin-bottom: 40px;
text-align: center;
}

.footer-distributed .footer-center i{
margin-left: 0;
}

}

.container{
max-width: 80%;
height: auto;
margin: auto;
;
    
    }  
  

h2{
/* font-size:2vw; */
}


.myButton {
box-shadow: 0px 10px 14px -7px rgb(190, 141, 136);
background:linear-gradient(to bottom, #EED2CF 5%, #EED2CF 100%);
background-color:rgb(158, 91, 83);
border-radius:8px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:20px;
font-weight:bold;
padding:13px 32px;
text-decoration:none;
text-shadow:0px 1px 0px rgb(190, 141, 136);

}
.myButton:hover {
background:linear-gradient(to bottom, #EED2CF 5%, #EED2CF 100%);
background-color:#408c99;
}
.myButton:active {
position:relative;
top:1px;
}

.half{
    width: 70%;
    height: auto;
    
}

.box3{
    width: 70%;
}

.box4{
    width: 90%;
    height: 200px;
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    background-color: tomato;
    padding: 30px;
    color:white;
}

.container22{
  width: 90%;
  height: 800px;
  max-width: 960px;
  
  
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2{
    width: 90%;
    height: auto;
    max-width: 960px;
    box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07)
;
    
    margin: 0 auto;
    padding: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container3{
    width: 90%;
    height: 250px;
    max-width: 960px;
    margin-top: 1%;
    margin-left: 8%;
    padding: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p2{
    font-size: 6vw;
    width: 100%;
    font-weight: bold;
    /* background: linear-gradient(-45deg, #7d8a96, #eef2f3); */
    background: linear-gradient(-45deg, #ef1f1f, #f3c0c0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 680px;
    text-transform: uppercase;
    line-height: .77;
  }

  
  div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }


  /* gallery */

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }





  .column2 {
    flex: 50%;
    max-width: 50%;
    padding: 0 4px;
  }
  
  .column2 img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column2 {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column2 {
      flex: 100%;
      max-width: 100%;
      
    }
  }